*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    background: var(--game-bg);
 }

 a{
    color: unset;
    /* The color unset property allows for an element to be reverted to it's original colour under the parent element */
    text-decoration: none;
}

.gradient__bg{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 51% 27%, rgba(32, 47, 91, 1) 13%, rgba(0, 22, 89, 1) 60%, rgba(36, 68, 160, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 51% 27%, rgba(32, 47, 91, 1) 13%, rgba(0, 22, 89, 1) 60%, rgba(36, 68, 160, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 51% 27%, rgba(32, 47, 91, 1) 13%, rgba(0, 22, 89, 1) 60%, rgba(36, 68, 160, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 51% 27%, rgba(32, 47, 91, 1) 13%, rgba(0, 22, 89, 1) 60%, rgba(36, 68, 160, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 51% 27%, rgba(32, 47, 91, 1) 13%, rgba(0, 22, 89, 1) 60%, rgba(36, 68, 160, 1) 100%);

}