.rps__rules {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

.rps__rules-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 54px;
    border: 2px solid #546384;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.rps__rules p {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-family);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*  Modal Styles

These include all the styles for the modal */

.rps__rules-screen {
    position: absolute;
    left: calc(50% - 240px);
    top: calc(50% - 240px);
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 480px;
    background: #fff;
    border-radius: 25px;
    z-index: 1;
}

.rps__rules-screen__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: 0 2rem 3rem;
}

.rps__rules-screen__title h1 {
    font-size: 40px;
    line-height: 42px;
    font-family: var(--font-family);
    font-weight: 700;
    text-transform: uppercase;
    color: #3D4064;
}
.rps__rules-screen__title img{
    cursor: pointer;
}

.rps__rules-screen__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.z{
    z-index: -2;
}

#my-backdrop {
    z-index: 0;
    mix-blend-mode: multiply; 
    display: none;
  }

@media screen and (max-width: 550px) {
    .rps__rules {
        flex-direction: row;
        justify-content: flex-start;
    }

    .rps__rules-btn {
        width: 100px;
        height: 44px;
    }

    .rps__rules p {
        font-size: 14px;
        line-height: 24px;
    }
    .rps__rules-screen{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       justify-content: flex-start;
       align-items: space-between;
       border-radius: 0px;

    }
    .rps__rules-screen__title{
        margin: 12rem 2rem 5rem 2rem;
    }
    .rps__rules-screen__title h1{
        font-size: 20px;
        line-height: 24px;
    }
    .rps__rules-screen__display img{
         width: 300px;
         height: 200px;
    }

    #my-backdrop {
        width: 100%;
        height: 100%;
    }
}